 
    .teste :hover {
        border-color: aquamarine; 
        border: 10px solid rgb(0, 0, 0);
    }
    .tam{
        height: auto;
        width: 23%;
        
    }

    h1{
        text-align: center;
        font-size: 60px;
    }

    hr{
        height: 2px;
        background-color: white;

    }
    body{
        background-color: rgb(179, 142, 100);
    }
   .teste{
        justify-content: space-around;
        display: inline;
        
    }
    
    .logo{
        width: 100%;
        height: auto;
    }
