 
    .teste :hover {
        border-color: aquamarine; 

    }
    .tam{
        height: auto;
        width: 23%;
    }
    .h1s

    hr{
        height: 2px;
        background-color: white;
    }
    body{
        background-color: rgb(179, 142, 100);
    }
   .teste{
        justify-content: space-around;
        display: inline;
    }
    
    .logo{
        width: 100%;
        height: auto;
    }
    .texto{
        font: italic;
    }
